body{background-color:white;
background-position: center;
background-size: cover;
min-height: 100vh;
color: darkorange;
font-size: larger;
font-style: italic;
background-image: url(https://as1.ftcdn.net/v2/jpg/08/11/46/94/1000_F_811469422_lSwz4vIRLqxrgWIzIB58qFD31b2zkLml.jpg);
font-weight: bolder;
text-align: right;
width: 100%;
text-align: inherit;
padding: inherit;


